.Rproj.user
.Rhistory
.RData
.Ruserdata
fox1comments.txt
fox2comments.txt
frame_poster.Rmd
nytimes2comments.txt
sonya_article_git.R
sonya_article_git.Rmd
sonyamassey_nytimes.txt
sonyamassey_nytimes2.txt
sonyamassey_wapo1.txt
sonyamassey_wapo2.txt
test
wapo1comments.txt
wapo2comments.txt
